/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css);
 div#upost_dashboard {
    margin: 20px 0;
}

.welcome_user {
    float: right;
    display: inline-flex;
    gap: 20px;
    align-items: center;
}
h3.welcome_back {
    color: #2196f3;
    font-size: 18px;
}
h3.welcome_back strong{
    font-size: 20px;
}
a.add-new-post {
    padding: 8px 15px;
    background: #2196f3;
    color: #fff;
    border-radius: 3px;
}
a.add-new-post:hover{
    opacity: .8;
}
div#profile_tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
div#profile_tabs a {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    display: inline-block;
}
div#profile_tabs a.active {
    background: #2196f3;
    color: #fff;
}
div#profile_tabs a:hover{
    border-color: #2196f3;
}

#upost_dashboard .uposts_table {
    margin-top: 12px;
    margin-bottom: 12px;
    border: none;
}
#upost_dashboard .dataTables_filter {
    float: right;
}

#upost_dashboard .table-hover>tbody>tr:hover {
    background-color: lighten(cyan, 40%);
}

#upost_dashboard .dataTables_filter, .dataTables_length {
    display: inline-block;
}
h3.welcome_back {
    margin: 0;
}
.pdf-actions {
    margin: 20px 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
a.upost_btn:last-child {
    margin-right: 0;
}
@media only screen and (min-width: 768px) {
    #upost_dashboard .uposts_table {
        table-layout: fixed;
        max-width: 100% !important;
    }
}

#upost_dashboard table thead, #upost_dashboard table tfoot {
    background: #ddd;
}

#upost_dashboard .uposts_table td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
}
.mbl-th{
    display: none;
}
@media only screen and (max-width: 767px) {
    #upost_dashboard table thead, #upost_dashboard table tfoot{
        display: none;
    } 
    .mbl-th{
        display: block;
    }
    #upost_dashboard table tbody tr {
        display: flex;
        flex-direction: column;
        border-bottom: 5px solid #ddd;
    }
    #upost_dashboard .dataTables_paginate {
        margin: 0 auto;
    }
}
#upost_dashboard table.dataTable thead th:nth-child(2), #upost_dashboard table.dataTable tfoot th:nth-child(2) {
    width: 25% !important;
}
#upost_dashboard table.dataTable thead th, #upost_dashboard table.dataTable thead td {
    padding: 5px 18px;
    border-bottom: none;
    text-align: left;
}
#upost_dashboard table.dataTable tbody td {
    padding: 5px 18px !important;
    border: none;
    border-bottom: 1px solid #ddd;
}
#upost_dashboard table.dataTable tbody tr{
    background: #fff;
}
#upost_dashboard table.dataTable tbody tr:hover {
    background: rgb(240, 240, 240);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
#upost_dashboard table.dataTable tbody td a:hover {
    text-decoration: underline;
}
.dataTables_filter label {
    display: flex;
    align-items: center;
    gap: 10px;
} 
#upost_dashboard table.dataTable tfoot th, #upost_dashboard table.dataTable tfoot td {
    padding: 5px 18px;
    border-top: none;
    text-align: left;
}
#upost_dashboard .dataTables_paginate {
    border: 1px solid #ddd;
    padding: 0 !important;
    width: fit-content !important;
    display: inline-block;
    float: right;
}
#upost_dashboard .dataTables_info {
    padding: 0 !important;
    display: inline-block;
}
#upost_dashboard .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 36px;
    height: 35px;
    padding: 3px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: none !important;
    margin: 0;
    border-radius: 0;
    border-left: 1px solid #ddd !important;
}
#upost_dashboard .dataTables_wrapper .dataTables_paginate .paginate_button:first-child{
    border-left: none !important;
}
#upost_dashboard .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    background: #2196f3 !important;
    border: none;
}
#upost_dashboard .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none;
    background: #2196f3;
    opacity: .7;
}
.upost-edit-btn {
    margin-right: 5px;
    padding-right: 12px;
    border-right: 1px solid #ddd;
}
.upost-edit-btn:hover, .upost-del-btn:hover{
    text-decoration: underline;
}

.upost_input {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.upost_input .label_box {
    width: 15%;
    text-align: right;
    padding-right: 20px;
}
.upost_input .label_box label {
    font-weight: 600;
}
.upost_input .input_box {
    width: 90%;
}
.upost_input .input_box input, .upost_input .input_box select {
    all: unset;
    width: 68%;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px !important;
    outline: none;
    box-shadow: none;
    min-height: 30px;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    background-color: #fff;
}
select#post_type {
    width: 150px;
}
div#wp-upost_article_content-wrap {
    margin-top: -24px;
}
div#article_content {
    width: 70%;
}
img[src=""] {
    display: none;
}
input#upload_upost_images, input#upload_upost_pdf {
    border: none;
    padding: 0;
    background: transparent;
    width: 1px;
    height: 1px;
    position: absolute;
    left: -99999px;
}
label[for="upload_upost_images"], label[for="upload_upost_pdf"] {
    padding: 5px 15px;
    background: #2196f3;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}
.upost_image_previews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.upost_image_previews .single_img {
    border: 2px solid #ddd;
    width: 100px;
    height: 80px;
    overflow: hidden;
}
.upost_image_previews .single_img img{
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    object-fit: cover !important;
    width: 100%;
    height: 100%;
}
#pdf_content .upost_pdf_previews {
    margin-bottom: 20px;
    width: 400px;
    height: 250px;
    overflow: hidden;
    background: #6c6c6c;
    border: 2px solid #ddd;
}
#pdf_content .upost_pdf_previews img {
    border-radius: 0 !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}
.post_title_link{
    color: #504f58;
}
button#save_upost {
    padding: 10px 15px;
    background: #2196f3;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    border: none;
}
.quicktags-toolbar input[type="button"] {
    all: unset;
    cursor: pointer !important;
    background-color: #f0f0f1 !important;
    color: #686868 !important;
    border: 0;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    position: relative;
    text-decoration: none;
    overflow: visible;
    -webkit-border-radius: 3px !important;
}
div#wp-upost_article_content-editor-container button:hover {
    background: #fff;
}

.success_popup, .sharing_popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    z-index: 99999;
    background: #e7e7e773;
}
.popup_contents {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 10px 21px -23px black;
}
span.closeUrlPopup {
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
}
.popup_contents h3 {
    color: #2196f3;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid;
}
.popup_contents.urlsharepcontent h3 {
    margin-bottom: 14px;
    text-align: left;
}
.popup_contents.urlsharepcontent .url_field {
    display: flex;
    gap: 5px;
}
.popup_contents.urlsharepcontent .url_field input {
    all: unset;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    min-width: 300px;
    outline: none;
}
.popup_contents.urlsharepcontent .url_field button.copy_post_url {
    all: unset;
    height: 28px;
    background: #2196f3;
    padding: 5px 10px;
    border: 1px solid #2196f3;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.copyTooltip {
    position: relative;
    display: inline-block;
}

.copyTooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.copyTooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.copyTooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.popup_contents table {
    all: unset;
    display: table;
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    border: none;
    padding: 0;
}
.popup_contents table tr th, .popup_contents table tr td {
    border: none;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.popup_contents a {
    text-decoration: underline;
    font-size: 16px;
}
div#upost_images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

div#upost_images .upost_image {
    width: calc(calc(100% / 5) - 7px);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    cursor: pointer;
}
div#upost_images .upost_image img {
    border-radius: 0!important;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid transparent;
}
div#upost_images .upost_image img:hover, div#upost_images .upost_image.active img{
    border-color: #2196f3;
}
div#upost_image_preview {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    background: #747474;
    margin-bottom: 20px;
}
div#upost_image_preview img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
div#upost_pdf_preview .upost_pdf_previews {
    width: 100%;
    aspect-ratio: 16 / 10;
    overflow: hidden;
    background: #747474;
    border: 2px solid #ddd;
    position: relative;
    margin-bottom: 20px;
}
div#upost_pdf_preview .upost_pdf_previews img {
    border-radius: 0 !important;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
div#upost_pdf_preview .upost_pdf_previews span {
    position: absolute;
    font-size: 40px;
    color: #fff;
    background: #00000021;
    width: 40px;
    height: 50px;
    line-height: 43px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

div#upost_pdf_preview .upost_pdf_previews span.leftPdfPage {
    top: 50%;
    transform: translateY(-50%);
}
div#upost_pdf_preview .upost_pdf_previews span.rightPdfPage {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.dnone{
    display: none !important;
}


.search_upost_contents {
    height: 75px;
    display: flex;
    align-items: center;
}

.search_upost_contents .search_box input {
    all: unset;
    width: 100%;
    padding: 10px;
}
.search_upost_contents .search_box {
    width: 70%;
    margin: 0 auto;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 1px solid #009688;
    padding: 0 18px;
}
.search_upost_contents .search_box button {
    all: unset;
    padding: 0;
    margin: 0;
    display: inline-block;
    line-height: 10px;
    cursor: pointer;
}
.search_upost_contents .search_box input {
    all: unset;
    width: 100%;
    padding: 10px;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

div#search_results {
    margin-top: 20px;
}
div#search_results .result_contents .upost h3 {
    margin: 0;
    font-weight: 600;
}
div#search_results .result_contents .upost .post-info {
    margin: 0;
    padding: 5px;
    background: #009688;
    color: #fff;
    margin: 10px 0;
}
div#search_results .result_contents .upost .article_excerpt {
    padding-left: 10px;
    border-left: 5px solid #ddd;
    margin-left: 15px;
}
div#search_results .result_contents .upost .article_excerpt p {
    margin: 0;
}
div#search_results .result_contents .upost a.uubtn {
    padding: 5px 15px;
    background: #009688;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}
a.upost_btn {
    padding: 5px 10px;
    background: #03a9f4;
    color: #fff;
    margin-right: 10px;
    text-decoration: none !important;
    cursor: pointer;
}
div#search_results .result_contents .upost a.view-post:hover{
    text-decoration: underline;
}
div#search_results .result_contents .upost .upost_image{
    cursor: default;
}
div#search_results .result_contents .upost .upost_image img {
    border-color: #e1e1e1 !important;
}


strong.action_btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    user-select: none;
}
span.action_btn_arrow {
    line-height: 15px;
}
.action_btn_arrow i.fa-solid.fa-sort-down {
    width: 22px;
    height: 22px;
    background: #2196f3;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    line-height: 17px;
    font-size: 14px;
}
#upost_dashboard table.dataTable tbody tr td:first-child,.account_menu{
    position: relative;
}

.action_popup, .account_popup {
    position: absolute;
    top: 100%;
    background: #fff;
    z-index: 99;
    border: 1px solid #ddd;
    width: 150px;
}
.account_popup {
    left: 0 !important;
    width: 100px;
}
.action_popup ul, .account_popup ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.action_popup ul li a, .account_popup ul li a {
    text-decoration: none !important;
    width: 100%;
    display: inline-block;
    height: 100%;
    border: none !important;
    box-shadow: none;
    padding: 4px 14px !important;
}
.action_popup ul li a:focus, .account_popup ul li a:focus{
    outline: none !important;
}
.action_popup ul li:hover, .account_popup ul li:hover, .account_popup ul li a.list_active {
    background: #f4f3f3;
}
.action_popup.dnone, .account_popup.dnone{
    display: none !important;
}
.upwarning {
    background: aliceblue;
    padding: 5px 10px;
}
.account_popup ul li:last-child a {
    color: red;
}
span.verifield {
    padding: 2px 15px;
    border: 2px solid red;
    border-radius: 3px;
    color: red;
    font-weight: 500;
}
.nopostFound {
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: 500;
}

div#medical_certificate {
    width: 800px;
    height: 904.25px;
    margin: 0 auto;
}
.cetificate_action {
    width: 800px;
    margin: 10px auto;
}
.certificate_contents {
    padding: 10px 25px;
}
.certificate_footer .certificate_contents {
    padding: 10px 0;
}
div#certificate_content {
    padding: 20px;
    border: 1px solid #ddd;
}
.patient_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}
.patient_row .upost_field {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.patient_row .upost_field label {
    font-weight: 700;
}
.patient_row .upost_field input {
    width: -webkit-fill-available;
    width: -moz-fill-available;
}
.patient_row .upost_field p {
    margin: 0;
    color: #a4a4a4;
    font-size: 14px;
}


.certificate_header {
    height: 70px;
    background: #03a9f4;
    text-align: center;
}
.certificate_header .logo {
    width: 200px;
    height: 100%;
    display: inline-flex;
    justify-content: center;
}
.company_information ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.company_information ul li {
    text-align: right !important;
}

.company_information h3.compname {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}
.company_information  p.comptag {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}
h3.patient_info_title {
    text-align: left;
    margin: 20px 0 0;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #03a9f4 !important;
}
.patient_informations {
    margin: 10px 0 28px;
}
.patient_informations .row {
    display: flex;
    gap: 10px;
}
.patient_informations .row .info_heading {
    width: 50%;
}
.patient_informations .row .info_value {
    padding: 3px 15px;
    background: #03a9f42e;
    width: 50%;
    text-align: center;
}
.patient_informations .row {
    display: flex;
    margin: 0 0 10px !important;
}
h3.notes_title {
    margin: 12px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.certificate_footer {
    background: #03a9f4;
}
.certificate_contents .footer_head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.certificate_contents .footer_head span.line {
    display: block;
    width: 30%;
    height: 3px;
    background: #fff;
}
.certificate_contents .footer_head .foo_title {
    font-size: 14px;
    color: #fff;
    width: 65%;
    text-align: center;
}
.certificate_contents .footer_bottom {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 10px;
    padding: 10px 50px;
}
.cetificate_action {
    text-align: right;
    margin-bottom: 12px;
}

.very_code,.authenticity {
    width: 50%;
}
.authenticity {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}
.authenticity a {
    color: white !important;
}
a#certificate_download[disabled] {
    opacity: .3;
    user-select: none;
    pointer-events: none;
    cursor: default;
}
