/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 div#upost_media_images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}
div#upost_media_images .mimage {
    width: 200px;
    height: 200px;
    display: flex;
    position: relative;
    border: 2px solid transparent;
    cursor: pointer;
}
div#upost_media_images .mimage.selected{
    border-color: #ff9800;
}
div#upost_media_images .mimage img {
    overflow: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
span.remove_upost_img {
    position: absolute;
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 21px;
    font-size: 28px;
    transform: rotate(45deg);
    color: red;
    right: 5px;
    top: 5px;
    cursor: pointer;
    user-select: none;
}
.mimage.selected:before {
    content: " ";
    position: absolute;
    bottom: -12px;
    left: calc(50% - 5px);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #ff9800;
}
.preview_upost_image {
    width: 100%;
    overflow: hidden;
}
.preview_upost_image img {
    width: 100%;
}
.preview_upost_image img[src="undefined"]{
    display: none;
}

.file-input {
    margin: 20px 0px;
}
span.upost_document_btn {
    cursor: pointer;
    user-select: none;
    color: #2271b1;
}
span.upost_document_btn svg {
    width: 50px;
}
.upost_file_previews {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: #5a5a5a;
}
img#upost_pdf_view {
    width: 100% !important;
    height: 100%;
    object-fit: contain;
}

.dnone{
    display: none;
}

.patient_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}
.patient_row .upost_field {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.patient_row .upost_field label {
    font-weight: 700;
}
.patient_row .upost_field input {
    width: -webkit-fill-available;
    width: -moz-fill-available;
}
.patient_row .upost_field p {
    margin: 0;
    color: #a4a4a4;
    font-size: 14px;
}
.patient_desc_row .upost_field {
    display: flex;
    flex-direction: column;
}